.informs h1 {
    font-size: 5em;
    margin-top: 3rem;
}

.inform-header {
    display: flex;
    max-width: 100%;
    /* font-family: 'Cabin', sans-serif; */
    /* background-color: blueviolet; */
}

.inform-header span {
    color: black;
    font-size: 2.1rem;
    font-weight: 600;
}

.inform-header p {
    font-size: 2em;
    opacity: 0.7;
    padding-left: 20%;
    padding-right: 23%;
    line-height: 2;
    margin-top: 2%;
    text-align: left;
}

.inform-body {
    font-size: 1.8em;
    padding-left: 20%;
    padding-right: 16%;
    margin-top: 3rem;
    text-align: left;
    line-height: 1.8;
}

.inform-card-wrapper {
    /* margin-left: 20%; */
    margin-top: 2%;
    position: relative;
    width: 20rem;
    height: 20rem;
    perspective: 990px;
}

.main-inform-card {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 15%;
}

.single-card {
    position: absolute;
    /* border: solid 1rem #000; */
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.inform-card-wrapper:hover .single-card {
    transform: rotateY(-180deg);
}

.front-inform img {
    background-size: cover;
    width: 9rem;
    height: 9rem;
}

.back-inform p {
    font-size: 2rem;
}

.front-inform,
.back-inform {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    backdrop-filter: red invert(75%);
    background: linear-gradient(to bottom right, rgb(218, 218, 210), pink);
}

.back-inform {
    background: linear-gradient(to bottom right, rgb(255, 0, 85), rgb(24, 9, 78));
    color: #fff;
    transform: rotateY(180deg);
}

.blood-in-con {
    padding-left: 20%;
    padding-right: 23%;
    margin-top: 10rem;
}

.blood-in-con p {
    font-size: 2rem;
    line-height: 2;
    text-align: left;
    margin-top: 5rem;
}

.blood-in-con img {
    height: 60rem;
}

.blood-in-con ul {
    font-size: 2rem;
    text-align: left;
}

.blood-in-con li {
    text-decoration: dotted;
    margin-top: 2rem;
    list-style: disc;
    margin-left: 3rem;
    font-weight: 700;
}

.take-part-donation {
    display: block;
    height: 30rem;
    width: 100%;
    background-color: whitesmoke;
}

.take-part-donation h2 {
    padding-top: 10rem;
}

.take-part-donation button {
    background-color: red;
    color: white;
    width: 14rem;
    height: 5rem;
    margin-top: 4rem;
}

.blood-in-con img:hover {
    animation: imagedonor forwards 3s 1 running linear;
}

@keyframes imagedonor {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 10%;
    }
}