.aboutmainpara {
    padding: 3rem;
}
.bloodp {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
}
.vission-mission{
    display: flex;
    justify-content: space-around;
    margin-top:5rem;
}
.vission{
   text-align: center;
}
.vission p{
    padding-left: 15rem;
    text-align: left;
    line-height: 2;
    font-size: 1.5rem;
    padding-right: 12rem;
}
.mission p{
    padding-left: 20rem;
    text-align: left;  
    line-height: 2;
    font-size: 1.5rem;
    padding-right: 14rem;
}
.bloodgramheading {
    display: flex;
    margin-left: 20rem;
    height: 30rem;
}

.aboutpara {
    padding-top: 5rem;
    font-size: 1.5rem;
    text-align: left;
    line-height: 2.5;
    margin-bottom: 5rem;
    letter-spacing: 1.3px;
}

.content-for-about {
    width: 50%;
    display: block;
    padding-bottom: 12rem;
}
.bloodgramheading img{
    background-color: red;
    height: 25rem;
    width: 30rem;
    border-radius: 3rem;
}
.aboutcontact {
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: brown;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
}

.aboutcontact:hover {
    background-color: transparent;
    border: 2px solid red;
    color: black;
    border-radius: 2px;
}
.About-uper{
    margin-top: 4rem;
}
/* .vission-mission {
    display: flex;
    padding: 3rem 0 3rem 16rem;
    justify-content: space-around;
    /* text-align: center;
   
    justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
/* } */ 

/* .vission-mission p {
    width: 60%;
    text-align: center;
}

.vission-mission h1 {
    margin-left: 0;
} */

@media screen and (max-width:769px) {

    .aboutmainpara {
        padding: 0;
    }

    .content-for-about {
        width: auto;
        display: block;
    }

    .bloodgramheading {
        display: block;
        height: auto;
        margin-left:0;
        padding-left: 0;
        align-items: center;
        padding-right: 0;

    }

    .aboutpara {
        padding:0;
        font-size: 1.5rem;
        padding-left: 1rem;
        line-height: 3;
        text-align: center;
        margin-bottom: 0;
    }
    .vission-mission{
        display: block;
    }
    .vission p{
        padding-left: 1rem;
        text-align: center;
        padding-right: 1rem;
    }
    .mission{
        margin-top: 3rem;
    }
    .mission p{
        padding-left: 1rem;
        text-align: center;
        padding-right: 1rem;
    }
    .About-uper {
        padding-top: 1rem;
    }

}