.Contactus {
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactusform input {
    border: 2px solid brown;
}

.inputdiv {
    display: flex;
    gap: 1rem;
}

.inputdiv input {
    display: block;
    padding: 1.5rem;
    width: 35rem;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    margin-bottom: 3rem;
    border: 2px solid brown;
}

.secondinput {
    display: block;
    padding: 1.5rem;
    width: 75rem;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    margin-bottom: 3rem;
    /* border: 1px solid #aaa; */
}

.secondinput1 {
    display: block;
    padding: 1.5rem;
    height: 20rem;
    width: 50rem;
    overflow: hidden;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    margin-bottom: 3rem;
}

.contactinfo {
    line-height: 2.5rem;
    padding-right: 10rem;
}

.contactinfo h1,
.contactusform h1 {
    padding-bottom: 3.5rem;
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;

}

.contactinfo p {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 12rem;
}

.sendmessage {
    padding: 1rem;
    width: 15rem;
    background-color: maroon;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    font-weight: 500;
    align-items: center;
    margin-top: 1rem;
}

.sendmessage:hover {
    background-color: transparent;
    border: 2px solid maroon;
    color: black;
}

.contactinfo .formicon {
    color: maroon;
    /* width: 4rem; */
    font-size: 3.5rem;
    border: 1px solid brown;
    padding: 6px;
    border-radius: 4rem;
}

.uline {
    height: 0.25rem;
    width: 5rem;
    background: maroon;
    margin: 0 auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.iconflex {
    display: flex;
    /* margin-top: 3rem; */
    padding-bottom: 2rem;
}

.formicon3 {
    margin-right: -10rem;
}

@media screen and (max-width:769px) {
    .Contactus {
        padding-top: 6rem;
        display: block;
    }

    .contactusform {
        /* margin-left:1rem; */
        width: 100%;
    }

    .inputdiv input {
        display: block;
        padding: 1.5rem;
        width: 17rem;
        border-radius: 5px;
        justify-content: center;
        border-style: none;
        border: 1px solid #e4e6e8;
        transition: 0.1s ease;
        margin-bottom: 3rem;
        border: 2px solid brown;
    }


    .inputdiv {
        display: flex;
        justify-content: center;
    }

    .secondinput {
        width: 30rem;
    }

    .secondinputdiv {
        display: block;
        justify-content: center;
        margin-left: 0.9rem;
    }

    /* .sendmessage {
        margin-left: 5rem;
        font-size: 1.5rem;
        margin-bottom: 6rem;
    } */

    .secondinput1 {
        display: block;
        padding: 1.5rem;
        height: 20rem;
        width: 30rem;
        overflow: hidden;
        border-radius: 5px;
        border-style: none;
        border: 1px solid #e4e6e8;
        transition: 0.1s ease;
        margin-bottom: 3rem;
    }

    .contactinfo {
        margin-top: 3rem;
        width: 80%;
        margin-bottom: 3rem;
        display: block;
    }

    .contactinfo p {
        font-size: 1.5rem;
        font-weight: 500;
        padding-left: 10rem;
    }
}

/* @media screen and (max-width:1100px) {
    .contactinfo {
        margin-top: 3rem;margin-top: 3rem;
    }
} */