.login-page {
  background-color: #dde1e7;
  height: 93vh;
  width: 100vw;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}

.login-page h1 {
  padding-bottom: 3rem;
  font-family: Poppins;
  font-size: 3rem;
}

.login-pack {
  background-color:#dde1e7;
  /* background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/3c36af46773569.586396cf11c1c.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: 100%;
  box-shadow: -3px -3px 7px #ffffff73,
  2px 2px 5px rgba(94,104,121,0.288);
  margin: 0 auto;
  padding: 5rem 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45rem;
  height: 40rem;
  /* box-shadow: 2px 3.4px 2px 3.4px #777; */
  border-radius: 5px;
}


.login-page form {
  display: block;
}
.login-page .forget{
  color: maroon;
}

.login-page input {
  width: 35rem;
  background-color: #dde1e7;
  
  opacity: 0.9;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
  height: 5rem;
  outline: none;
  margin-left: 1rem;
  margin-top: 3rem;
  border-radius: 2.5rem;
}

/* .rese {
  background-color: maroon;
  width: 16rem;
  color: white;
  height: 4.2rem;
  padding: 0.7rem;
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  font-family: monterrate;
  letter-spacing: 2px;
  font-weight: 200;
} */

/* .rese:hover {
  background-color: #ffffff73;
  border: 2px solid marborder: 2px solid maroon;
  color: black;
} */

.login-page h2 {
  margin-top: 3rem;
}

.login-page .login-icons {
  width: 20rem;
  height: 10rem;
  color: rgb(51 65 85);
}

.login-page .lo {
  background-color: #dde1e7;
  color: #595959;
  width: 35rem;
  /* line-height: 4rem; */
  height: 5rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  padding: 1rem;
  font-family: Poppins;
  letter-spacing: 2px;
  font-weight: 200;
  box-shadow: 2px 2px 5px #BABECC,
  -5px -5px 10px #ffffff73;
  margin-top: 2rem;
  cursor: pointer;
}

.login-page a {
  text-decoration: underline;
}

.lo:hover {
  border: 2px solid maroon;
  color: black;
}

@media screen and (max-width:769px) {
  .login-page {
    width: auto;
    /* background-color:#dde1e7; */
    padding-top: 3rem;
  }

  .login-pack {
    background-color:#dde1e7;
    padding: 2rem 5rem;
    width: auto;
    margin-left:2rem;
    margin-right:2rem;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94,104,121,0.288);
    border-radius: 5px;
  }

  .login-page input {
    width: 24rem;
    background-color: #dde1e7;
    height: 4rem;
    margin-left: 1rem;
    padding: 0.5rem;
    box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
    margin-top: 3rem;
    border-radius: 2.5rem;
  }

  .login-page h1 {
    padding-bottom: 2rem;
    font-size: auto;
  }

  .login-page .lo {
    background-color: maroon;
    width: 24rem;
    height: 4rem;
    border: none;
    border-radius: 2.5rem;
    padding: 1rem;
    font-family: Poppins;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 200;
    margin-top: 2rem;
    cursor: pointer;
  }
.login-pack .login-icons{
    height: 7rem;
    width: 6rem;
  }
}